/* CSS declarations go here */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400'); 

body {
 margin-top: 30px;
  font-family: sans-serif;
  background-color: #F9F9F9;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainNav {
  
  border: 1px solid black;
  height: 125px;
}

#home-body {

}

#home-background {
  height: 1000px;
  color: white;
  background:url(./cover.jpg)#222 no-repeat   35%;
  background-size: cover !important;
  background-color: #222;
}


.tagline {
  font-size: 16px;
  margin-top: 0px;
}
#signup-btn {
  border-radius: 5px;
}

#headline {
  font-size: 55px;
  margin-bottom: 5px;
}
.sideNav {
  border: 2px solid black;
  margin-top: 10px;
  height: 600px;
  background-color: white;
 }

 .hide-completed {
  float: right;
  margin-bottom: 30px;
  border: 1px solid red;
}

.mainBody {
  margin-top: 10px;
 
  border: 2px solid black;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 2em;
  border: none;
  position: relative;
  margin-bottom: 20px;
}

.collection .collection-item.avatar {
  padding-left: 10px !important;
}

.recentlyUploaded {
  color: grey;
}

.songPrivacy {

  cursor: pointer !important;
  padding: 10px;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.uploader {
  height: 100px;
  width: 100%;
  border: 3px solid black;
  margin: 10px;
}

.previewPlayer {
  margin-left: 8px;
  font-size: 1.5em;
}


.playPause {
  cursor: pointer;
  opacity: 0.7;
}
.playPause:hover {
 opacity: 1.0;
}

.beatList {
  background-color: white;
}

.collection .row {
  margin-bottom: 0px !important;
}

.links {
  font-size: 15px;
}

ul.dropdown-content.select-dropdown li span {
    color: #000; /* no need for !important :) */
}

@media only screen and (max-width : 992px ) {
  #app {
    padding-left: 0;
  }
}

.categories {
  margin-bottom: 30px;
  margin-top: 10px;
}

.trackTitle {
  font-size: 5em;
}
.trackLink:hover {
  color:grey;
}

.userName {
  font-size: 1.2em;
  font-style: bold;
  margin-top: 15px;
}

.tos {
 margin-top: 50px;
}

.uploadBtn {
  margin-top: 30px;
}

.songTitle {
  font-size: 2em;
}

.avatar {
  padding: 10px;
}

.stats {
  margin-top:5px;
  margin-right: 5px;


}

.track-stats {
  margin-top:5px;
  margin-right: 5px;

}
.beatActions {
  margin-bottom: 10px;
}

.collection {
  border-radius: 5px;
  margin-top: 0px !important;

}


nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}

input[type="search"] {
  height: 64px !important; /* or height of nav */
}

#welcome-header {
  background-size: cover !important;
  background:url(./cover.jpg)#222 no-repeat   35%;
  height: 200px;
  margin-bottom: 100px;
}

#faq-header {
  background-size: cover !important;
  background:url(./mic.jpg)#222 no-repeat   35%;
  height: 200px;
}

#contact-header {
  background-size: cover !important;
  background:url(./faders.jpg)#222 no-repeat   35%;
  height: 200px;
}

#upload-header {
  background-size: cover !important;
  background:url(./cdj.jpg) #222 no-repeat 50% 0%;
  height: 200px;
}

#account-header {
  background-size: cover !important;
  background:url(./mixer2.jpg) #222 no-repeat 50% 0%;
  height: 200px;
}

#charts-header {
  background-size: cover !important;
  background:url(./mixer_1.jpg) #222 no-repeat 0%;
  height: 200px;
}

.background-header h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  bottom: 10;
  position: absolute;
  margin: 20px;
  background: white;

}

#logo h1 {
  font-size: 30px;
}

#payment-tag {
  cursor: pointer;
}

.buttons {
  width: 100px;
  height: 250px;
}

#loginForm {
  border: 1px solid black;
  padding: 15px;
}

.collection-item.avatar .collapsible-header {
 height: auto;
 line-height: inherit;
 padding: 0;
 background-color: transparent;
 border-bottom: none;
}

.collection-item.avatar .circle {
  border-radius: 0;

}

ul {
  padding: 0;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}


#main-heading {
  font-size: 30px;
  margin-bottom: 50px;
  box-shadow: none;
}

#signup-heading {
  margin-top: 10px;
}

.mrg-bottom-10 {
  margin-bottom: 10px;
}

.mrg-top-30 {
  margin-top: 30px;
}

#logo {
  box-shadow: none;
}

.uploadOuter {
  margin-top: 25px;
 
}


#beatPic {
  height: 100px;
  width: 100px;
  padding: 15px 15px 10px 150px;
  border: 1px solid red;
}

.track {
  margin-bottom: 20px;
  border-radius: 5px;

  padding: 50px;
}

.margin-left-15 {
  margin-left: 15px;
}


body {
  font-size: 11px;
}

li.collection-item avatar {
bottom-border: 1px solid black;
}

#uploadSubmit {

width: 0 auto;
height: 100%;
text-align: center;

}

.uploadUI {


}

/* Materialize Forms */
 /* label focus color */
.input-field input[type=text]:focus + label {
  color: #546E7A;
}

.input-field input[type=text] + label {
  color: #546E7A;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #546E7A;
  box-shadow: 0 1px 0 0 #546E7A;
}

.input-field input[type=number]:focus + label {
  color: #546E7A;
}

.input-field input[type=number] + label {
  color: #546E7A;
}

.input-field input[type=number]:focus {
  border-bottom: 1px solid #546E7A;
  box-shadow: 0 1px 0 0 #546E7A;
}



.material-icons.prefix:active {
  color: #546E7A;
}

.input-field .prefix.active {
  color: #546E7A;
}

[type="radio"]:checked + label:after, [type="radio"]
.with-gap:checked + label:after {
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    background-color: #546E7A !important;
    border: 2px solid #546E7A !important;
}


/* Custom Dropzone css */

div.filepicker {
  border: none !important;
  margin-top: 25px;
  margin-bottom: 30px !important;
  background-color: #546E7A !important;
  color: black !important;
  font-size: 16px !important;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}


.progress {
  background-color: #546E7A !important;
}

.dropzone {
  color: black;
}

.dz-preview .dz-file-preview .card {
  border-radius: 90%;
  opacity: 0.3 !important;
  padding: 50px !important;
}

.dz-filename {
  font-size: 14px;
  font-style: italic;
  padding: 10px;
  
}

.dz-size {
  font-weight: bold;
}

.dz-message {
    background: none;
}

.dz-message span {
    display: block;
}
   

.file-field input[type=file] {
  background-color: #546E7A !important;
}

.btn, .btn-large {
  background-color: #546E7A
}

.track-link {
  color: grey;
  font-size: 6px;
  font-style: italic;
}
#username-link {
  color:black;
  margin-bottom: 5px;
}

.track-link:hover {
  color: darkgrey;
}


#at-btn {
  margin-top: 20px;
}

.follow-jahosh {
  margin-top: 50px;
}

.user-email {
  color: white;
}


.mainProfile {
  height: 80px;
  margin-bottom: 300px;
}

.userPic { 
  border-radius: 50%;
  margin-top: 15px;
}

.user-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background:url(./defaultAvatar.jpeg) no-repeat;
  background-size: cover !important;
  background-color: black;
  display: block;
  margin-top: 30px;
}
.profie-pic {
  border: 5px solid white !important;
}

.profileContact {
  margin: 5px;
  cursor: pointer !important;
}

#profile-name {
  margin: none !important;
  font-size: 22px;
}

#profile-header {
  border: 1px solid black;
  background: black;
  height: 260px;
  color: white;
  border-radius: 5px;
}
#user-info {
  
  margin-top: 25px;
  font-size: 12px;
}

#user-name {
  margin-bottom:0px;
}
#user-tagline {
  margin-top: 0px;
  font-size: 14px;
  font-style: italic;
}

#account-links {
  cursor: pointer !important;

}
#account-links a {
  height: 45px;
  font-size: 15px;
  color: black;
}

.track-photo {
  border: 1px solid black;
  height: 175px;
  width: 175px;

}

#track-info {

  padding: 5px;
 
 
}

#track-wave {
  padding: 10px;
  padding-top: 20px;


}

canvas {
  cursor: pointer !important;
}

.float-right {
  float: right;
}

#browse-header .row {
  margin-bottom: 0px;
}


/* Bert Alert Styling */
.bert-alert.profile-updated {
  margin-top: 300px;
  background: black;
  color: #fff;
}